# Python
__pycache__/
*.py[cod]
.venv/

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Docker
*.log

# Model artifacts
backend/model.joblib
backend/scaler.joblib

# Node / front-end
node_modules/

# Misc
*.sqlite3
*.env
